SERVICE_PORT=3003
SERVICE_NAME=cogquiz-provider-service
NODE_ENV=development
DATABASE_URL=postgresql://doadmin:YOUR_DB_PASSWORD_HERE@dbaas-db-8001260-do-user-15534724-0.a.db.ondigitalocean.com:25060/defaultdb?schema=public
CORS_ORIGIN=http://localhost:3000
INTERNAL_SECRET=your-internal-secret-here
